<div id="home" class="banner inner-banner-w3l">
		<div class="header-nav">
			<nav class="navbar navbar-default">
			<div class="header-top">
					<div class="navbar-header logo">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a class="navbar-brand" routerLink="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Oxford</a>
								</h1>
					</div>
					<!-- navbar-header -->
					<div class="contact-bnr-w3-agile">
								<ul>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i>sakshi@info.com</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i>+919369157994</li>	
								</ul>
							</div>
							</div>
					<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/">Home</a></li>
							
							<li><a routerLink="/services">Services</a></li>
							<li><a routerLink="/gallery" class="active">Gallery</a></li>
							<li class="dropdown">
								<a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a routerLink="/engg">Engineering</a></li>
                                    <li><a routerLink="/poly">Diploma</a></li>
                                    <li><a routerLink="/pharm">Pharmacy</a></li>
								</ul>
							</li>
                            <li><a routerLink="/contact">Contact</a></li>
                            <li><a routerLink="/sign">SIGNUP</a></li>
                            <li><a routerLink="/reg">REGISTER</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>	
				</nav>
							<div class="clearfix"> </div>
		</div>
</div>	
<div id="content">
	<style>
		#wrapper #content
		{
			display:inline-block;
			width:100%;
			min-height:300px;
		}
		#wrapper #content .col
		{
			width:44%;
			margin:1.3%;
			min-height:300px;
			border:1px solid #666;
			display:inline-block;
			box-shadow:#666 3px 4px 8px;
			border-radius:20px;
	
			color:#999;
			background:rgb(246, 250, 252); 
			 
		}
		#content .col
	{
		
		font-family:"Comic Sans MS", cursive;
		font-size:18px;
		font-weight:500;
		font-variant:normal;
		text-align:justify;
		padding:20px;
		color:rgb(22, 21, 19);
		width:23%;
		border:1px solid rgb(11, 206, 231);
		border-radius:10px;
		box-shadow:rgb(247, 186, 21) 4px 4px 4px;
		height:400px;
		overflow:scroll;
			
		margin:0.7%;
		
		display:inline-block;
	}
		</style>
	   
		<div class="col">
		  <h1>B.Tech(Computer Science)</h1><br><br>
		  The Department of Computer Engineering offers undergraduate ‘Bachelor of Engineering’ degree that covers the entire spectrum of computing. It is a four year degree course affiliated to UPTU, with a total intake of 60 students.
		  
		</div>

		<div class="col">
		<h1> B.Tech(Electrical)</h1><br><br>
		Electrical engineering is a field of engineering that generally deals with the study and application of electricity, electronics, and electromagnetism. This field first became an identifiable occupation in the latter half of the 19th century.
		  
		</div>
		<div class="col">
			<h1> B.Tech(Electronics)</h1><br><br>
			In order to ensure high standards of education for its students, the department has constantly upgraded itself by adding well-equipped and fully furnished laboratories to supplement the theory courses. 
			  
			</div>
			<div class="col">
				<h1> B.Tech(Civil)</h1><br><br>
				We take great pleasure to present this Civil Engineering course to the students. It is core engineering branch which highlights aspects necessary for infrastructure facilities needed in any branch of engineering.
				  
				</div>
		</div>

