<div id="home" class="banner inner-banner-w3l">
		<div class="header-nav">
			<nav class="navbar navbar-default">
			<div class="header-top">
					<div class="navbar-header logo">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a class="navbar-brand" routerLink="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Oxford</a>
								</h1>
					</div>
					<!-- navbar-header -->
					<div class="contact-bnr-w3-agile">
								<ul>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i>sakshi@info.com</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i>+918077468355</li>	
								</ul>
							</div>
							</div>
					<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/">Home</a></li>
							
							<li><a routerLink="/services">Services</a></li>
							<li><a routerLink="/gallery" class="active">Gallery</a></li>
							<li class="dropdown">
								<a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a routerLink="/engg">Engineering</a></li>
                                    <li><a routerLink="/poly">Diploma</a></li>
                                    <li><a routerLink="/pharm">Pharmacy</a></li>
								</ul>
							</li>
                            <li><a routerLink="/contact">Contact</a></li>
                            <li><a routerLink="/sign">SIGNUP</a></li>
                            <li><a routerLink="/reg">REGISTER</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>	
				</nav>
							<div class="clearfix"> </div>
		</div>
</div>

<div id="content">
	<style>
		#wrapper #content
		{
			display:inline-block;
			width:100%;
			min-height:300px;
		}
		#wrapper #content .col
		{
			width:44%;
			margin:1.3%;
			min-height:300px;
			border:1px solid #666;
			display:inline-block;
			box-shadow:#666 3px 4px 8px;
			border-radius:20px;
	
			color:#999;
			background:#FF9; 
			 
		}
		#content .col
	{
		
		font-family:"Comic Sans MS", cursive;
		font-size:18px;
		font-weight:500;
		font-variant:normal;
		text-align:justify;
		padding:20px;
		color:#999;
		width:40%;
		border:1px solid #999;
		border-radius:10px;
		box-shadow:#666 4px 4px 4px;
		height:350px;
		overflow:scroll;
			
		margin:0.7%;
		
		display:inline-block;
	}
		</style>
	   
		<div class="col">
		  <h1><span class="glyphicon glyphicon-phone"></span>For Any Query:</h1>
		  <form class="form-group" >
				<label>Name</label>
				<input type="text" formControlName="name" class="form-control">
				<label>Contact No.</label>
				<input type="text" formControlName="num" class="form-control">
				<label>Email</label>
				<input type="text" formControlName="email" class="form-control"><br>
				<input type="submit" class="btn btn-success" value="submit">
      
		  </form>
		</div>

		<div class="col">
		<h1> Find Us</h1>
		  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.129554679345!2d77.69641737534378!3d29.077781586572605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe35c6026da5c0abe!2sNeelkanth+Institute+of+Engineering+%26+Technology!5e0!3m2!1sen!2sin!4v1541006193170" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                            "
	 
		</div>
		</div>
		<div class="contact-page-w3ls inner-padding">
				<div class="container">
				<h3 class="heading-agileinfo">Feedback<span>Experience A Good Education</span></h3>
		
			<div class="contact-info-w3ls">
				<div class="contact-left-w3layouts">
						<div class="contact-w3-agileits">
							<img src="../../assets/images/c1.jpg" alt="img">
							<div class="right-contact-w3ls">
								<h6>XYZ</h6>
								<p class="work-w3">Director</p>
								<div class="span-sub-w3ls">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><p class="number-w3">+01 243 792 96</p>
								</div>
								<div class="span-sub-w3ls">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">example@mail.com</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="contact-w3-agileits">
							<img src="../../assets/images/c2.jpg" alt="img">
							<div class="right-contact-w3ls">
								<h6>XYZ</h6>
								<p class="work-w3">Principal</p>
								<div class="span-sub-w3ls">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><p class="number-w3">+01 543 338 96</p>
								</div>
								<div class="span-sub-w3ls">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">example@mail.com</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="contact-w3-agileits">
							<img src="../../assets/images/c3.jpg" alt="img">
							<div class="right-contact-w3ls">
								<h6>XYZ</h6>
								<p class="work-w3">Teacher</p>
								<div class="span-sub-w3ls">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><p class="number-w3">+01 543 338 96</p>
								</div>
								<div class="span-sub-w3ls">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">example@mail.com</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
				<div class="contact-right-w3layouts">
				<h5 class="title-w3">We Would Love To Hear From You!</h5>
				
					<form action="#" method="post">
						<input type="text" name="your name" placeholder="YOUR NAME" required="">
						<input type="email" name="your email" placeholder="YOUR EMAIL" required="">
						<textarea name="your fedback" placeholder="YOUR FEEDBACK" required=""></textarea>
						<input type="submit" value="Send Message">
					</form>
				</div>
				<div class="clearfix"> </div>
				</div>
				</div>
			</div>
				   
