<div id="home" class="banner inner-banner-w3l">
		<div class="header-nav">
			<nav class="navbar navbar-default">
			<div class="header-top">
					<div class="navbar-header logo">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a class="navbar-brand" routerLink="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Oxford</a>
								</h1>
					</div>
					<!-- navbar-header -->
					<div class="contact-bnr-w3-agile">
								<ul>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i>sakshi@info.com</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i>+919369157994</li>	
								</ul>
							</div>
							</div>
					<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/">Home</a></li>
							
							<li><a routerLink="/services">Services</a></li>
							<li><a routerLink="/gallery" class="active">Gallery</a></li>
							<li class="dropdown">
								<a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a routerLink="/engg">Engineering</a></li>
                                    <li><a routerLink="/poly">Diploma</a></li>
                                    <li><a routerLink="/pharm">Pharmacy</a></li>
								</ul>
							</li>
                            <li><a routerLink="/contact">Contact</a></li>
                            <li><a routerLink="/sign">SIGNUP</a></li>
                            <li><a routerLink="/reg">REGISTER</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>	
				</nav>
							<div class="clearfix"> </div>
		</div>
</div>	
<!-- //Header -->
<!-- gallery inner -->
<div class="inner-padding">
	<div class="container">
	<h3 class="heading-agileinfo">Our gallery<span>Oxford has the best balance of fantastic research facilitie.

        </span></h3>
		<div class="w3ls_portfolio_grids">
				<div class="col-md-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g1.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g1.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g2.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g2.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g3.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g3.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g4.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g4.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g5.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g5.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g6.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g6.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g7.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g7.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g8.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g8.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
					<div class="w3_agile_portfolio_grid1">
						<a href="../../assets/images/g9.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Oxford">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Oxford</h3>
								</div>
								<img src="../../assets/images/g9.jpg" alt=" " class="img-responsive">
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>



<script type="text/javascript" src="../../assets/js/jquery-2.1.4.min.js"></script>
<!--//js -->
<!-- light-case -->
	<script src="../../assets/js/lightcase.js"></script>
	<script src="../../assets/js/jquery.events.touch.js"></script>
	<script>
		$('.showcase').lightcase();
	</script>
<!-- //light-case -->
<script src="../../assets/js/SmoothScroll.min.js"></script>
<!--Scrolling-top -->
<script type="text/javascript" src="../../assets/js/move-top.js"></script>
<script type="text/javascript" src="../../assets/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--//Scrolling-top -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="../../assets/js/bootstrap-3.1.1.min.js"></script>
