<div id="home" class="banner inner-banner-w3l">
		<div class="header-nav">
			<nav class="navbar navbar-default">
			<div class="header-top">
					<div class="navbar-header logo">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a class="navbar-brand" routerLink="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Oxford</a>
								</h1>
					</div>
					<!-- navbar-header -->
					<div class="contact-bnr-w3-agile">
								<ul>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i>sumit@info.com</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i>+918077468355</li>	
								</ul>
							</div>
							</div>
					<div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/">Home</a></li>
							
							<li><a routerLink="/services">Services</a></li>
							<li><a routerLink="/gallery" class="active">Gallery</a></li>
							<li class="dropdown">
								<a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a routerLink="/engg">Engineering</a></li>
                                    <li><a routerLink="/poly">Diploma</a></li>
                                    <li><a routerLink="/pharm">Pharmacy</a></li>
								</ul>
							</li>
                            <li><a routerLink="/contact">Contact</a></li>
                            <li><a routerLink="/sign">SIGNUP</a></li>
                            <li><a routerLink="/reg">REGISTER</a></li>
						</ul>

					</div>
					<div class="clearfix"> </div>	
				</nav>
							<div class="clearfix"> </div>
		</div>
</div>
<div class="agileinfo_services_grids inner-padding">
		<div class="container">
		<h3 class="heading-agileinfo">Featured services<span>We are giving special services</span></h3>
						<div class="col-md-4 agileinfo_services_grid">
							<div class="agileinfo_services_grid1">
								<i class="fa fa-female" aria-hidden="true"></i>
								<h4>Placements</h4>
								<p>CRC Department keeps on inviting various industries and reputed organizations for campus recruitment drives After following the selection procedure, the corporate selects the students and offer letters are given to the students with the joining date.Maximum package is 5 Lacs.</p>
											</div>
						</div>
						<div class="col-md-4 agileinfo_services_grid">
							<div class="agileinfo_services_grid1">
								<i class="fa fa-group" aria-hidden="true"></i>
								<h4>Friendly Support</h4>
								<p> Students with learning disabilities and
										These students are studying everywhere, and many of them are going on to graduate degrees These students are studying everywhere, and many of them are going on to graduate degrees, law school, and medical schools.</p>
							</div>
						</div>
						<div class="col-md-4 agileinfo_services_grid">
							<div class="agileinfo_services_grid1">
								<i class="fa fa-book" aria-hidden="true"></i>
								<h4>Educational Events</h4>
								<p>We have been the proud sponsor of several national-level events including Rendezvous (IIT Delhi), Antaragni (IIT Kanpur), Oasis (BITS Pilani), Mood Indigo (IIT Bombay), Festember (National Institute of Technology, Trichy) among others.</p>
							</div>
						</div>
						<div class="col-md-4 agileinfo_services_grid">
							<div class="agileinfo_services_grid1">
								<i class="fa fa-paint-brush" aria-hidden="true"></i>
								<h4>Art Programs</h4>
								<p>A fine arts education — including music, theater, drawing, painting, or sculpture — whether in practice or theory, has been a part of any well-rounded curriculum for decades — but that may be changing. Many schools  their art programs.</p>
							</div>
						</div>
						<div class="col-md-4 agileinfo_services_grid">
							<div class="agileinfo_services_grid1">
								<i class="fa fa-group" aria-hidden="true"></i>
								<h4>Social Programs</h4>
								<p>Social services include the benefits and facilities such as education, food subsidies, health care, police, fire service, job training and subsidized housing, adoption, community management, policy research.</p>
							</div>
						</div>
						<div class="col-md-4 agileinfo_services_grid">
							<div class="agileinfo_services_grid1">
								<i class="fa fa-trophy" aria-hidden="true"></i>
								<h4>Special Olympics</h4>
								<p>In partnership with NIRSA: Leaders in Collegiate Recreation, hundreds of colleges are providing Special Unified Sports intramural leagues on campusOlympics athletes at any level of skill or experience..</p>
							</div>
						</div>
						<div class="clearfix"> </div>
			</div>
		</div>
