<div class="contact-w3ls ">
    <div class="contact-top-w3-agile">
    </div>
        <div class="container">
            <h2 class="heading-agileinfo white-w3ls">Contact Us<span class="black-w3ls">Welcome to our Emphasize. We are glad to have you around.</span></h2>
            <ul class="w3_address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Modipurram,Meerut.</span></li>
                <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i><span>+919369157994</span></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><span>sakshi@info.com</span></li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i><span><a routerLink="/contact">Contact >></a></span></li>
            </ul>
                <div class="clearfix"></div>
            <div class="copy">
                    <ul class="banner-menu-w3layouts">
                        <li><a routerLink="/">Home</a></li>
                        
                        <li><a routerLink="/services">Services</a></li>
                        <li><a routerLink="/gallery">Gallery</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                    <ul class="agileits_social_list">
                        <li><a routerLink="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a routerLink="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a routerLink="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a routerLink="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                    <p>© 2019 . All Rights Reserved | Design by Sakshi & Sumit</p>
            </div>
        </div>
    </div>
