<app-header></app-header>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="../../assets/images/bann.jpg" alt=" " class="img-responsive">
                <h5>Better education for a Better world</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- Events-Modal-Popup-->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="../../assets/images/a1.jpg" alt=" " class="img-responsive">
                <h5> Summer Tranning 2019</h5>
                <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Modipurram</li>
        </ul>
        <p>Yale Summer Online courses make it possible for you to continue your studies in the summer from just about anywhere in the world.  This unique learning experience is built around video-based discussion sessions:  our virtual classroom</p>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="../../assets/images/a2.jpg" alt=" " class="img-responsive">
                <h5>Summer online courses</h5>
                <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Meerut</li>
        </ul>
<p>Yale Summer Online courses make it possible for you to continue your studies in the summer from just about anywhere in the world.  This unique learning experience is built around video-based discussion sessions:  our virtual classroom</p>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="../../assets/images/a3.jpg" alt=" " class="img-responsive">
                <h5>Education tour 2017</h5>
                <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.</p>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal4 -->
<!-- Modal5 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="../../assets/images/a4.jpg" alt=" " class="img-responsive">
                <h5>Good Results</h5>
                <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Meerut</li>
        </ul>
        <p>To become an exemplary centre of learning where knowledge seekers are facilitated to transform themselves into individuals who can make a difference to the society through their intellect, knowledge and innovation coupled with an equal concern for ethics.</p>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal5 -->
<!-- //Events-Modal-Popup-->
<!-- about-agileits -->
<div class="about-agileits">
<div class="container">	
<h3 class="heading-agileinfo">About Us<span>Experience a good Education</span></h3>
<div class="agileits_banner_bottom">
<p>Oxford Education is Approved by All India Council for Technical Education (AICTE) - New Delhi and affiliated to Dr. APJ Abdul Kalam Technical University (Formerly Uttar Pradesh Technical University), Lucknow, UP.</p>
</div>
<div class="w3ls_banner_bottom_grids">
<ul class="cbp-ig-grid">
<li>
<div class="w3_grid_effect">
    <span class="cbp-ig-icon w3_road"></span>
    <h4 class="cbp-ig-title">Who we are</h4>
    <span class="cbp-ig-category">Emphasize</span>
</div>
</li>
<li>
<div class="w3_grid_effect">
    <span class="cbp-ig-icon w3_cube"></span>
    <h4 class="cbp-ig-title">What we do</h4>
    <span class="cbp-ig-category">Emphasize</span>
</div>
</li>
<li>
<div class="w3_grid_effect">
    <span class="cbp-ig-icon w3_users"></span>
    <h4 class="cbp-ig-title">activities</h4>
    <span class="cbp-ig-category">Emphasize</span>
</div>
</li>
<li>
<div class="w3_grid_effect">
    <span class="cbp-ig-icon w3_ticket"></span>
    <h4 class="cbp-ig-title">Experience</h4>
    <span class="cbp-ig-category">Emphasize</span>
</div>
</li>
</ul>
</div>
</div>
</div>
<!-- about-agileits -->
<!-- Stats -->
<div class="stats-agileits" id="stats">
<div class="container">
<h3 class="heading-agileinfo white-w3ls">We Have Something To Be Proud Of<span class="black-w3ls">Oxford has the best balance of fantastic research facilitie.</span></h3>
</div>
<div class="stats-info agileits w3layouts">
<div class="container">
<div class="col-md-3 agileits w3layouts col-sm-6 stats-grid stats-grid-1">
<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='2500' data-delay='3' data-increment="2">2500</div>
<div class="stat-info-w3ls">
<h4 class="agileits w3layouts">Foreign Followers</h4>
</div>
</div>
<div class="col-md-3 col-sm-3 agileits w3layouts stats-grid stats-grid-2">
<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='150' data-delay='3' data-increment="2">150</div>
<div class="stat-info-w3ls">
<h4 class="agileits w3layouts">Certified Teachers</h4>
</div>
</div>
<div class="col-md-3 col-sm-3 stats-grid agileits w3layouts stats-grid-3">
<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='3421' data-delay='3' data-increment="2">3421</div>
<div class="stat-info-w3ls">
<h4 class="agileits w3layouts">Students Enrolled</h4>
</div>
</div>
<div class="col-md-3 col-sm-3 stats-grid stats-grid-4 agileits w3layouts">
<div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='210' data-delay='3' data-increment="2">210</div>
<div class="stat-info-w3ls">
<h4 class="agileits w3layouts">Complete Courses</h4>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
<!-- //Stats -->
<!--Events --> 
<div class="events-agileits-w3layouts">
<h3 class="heading-agileinfo">Upcoming Events<span>Upcoming Education Events to feed your brain.</span></h3>

<div class="popular-grids">
<div class="col-md-3 popular-grid">
<img src="../../assets/images/a1.jpg" class="img-responsive" alt=""/>
<div class="popular-text">
    <h5><a href="#" data-toggle="modal" data-target="#myModal2">Seminars 2019</a></h5>
    <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Modipurram</li>
        </ul>
        <p>A seminar, by definition, is a small discussion-based course in which students and their instructors exchange ideas and information. While there are many variations among first-year seminars</p>
    </div>
</div>
</div>
<div class="col-md-3 popular-grid">
<img src="../../assets/images/a2.jpg" class="img-responsive" alt=""/>
<div class="popular-text">
    <h5><a href="#" data-toggle="modal" data-target="#myModal3">Summer online courses</a></h5>
    <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Modipurram</li>
        </ul>
        <p>Yale Summer Online courses make it possible for you to continue your studies in the summer from just about anywhere in the world.  This unique learning experience is built around video-based discussion sessions.</p>
    </div>
</div>
</div>
<div class="col-md-3 popular-grid">
<img src="../../assets/images/a3.jpg" class="img-responsive" alt=""/>
<div class="popular-text">
    <h5><a href="#" data-toggle="modal" data-target="#myModal4">Sports Event 2019</a></h5>
    <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Modipurram</li>
        </ul>
    <p>Oxford a T-20 cricket tournament in October 2014.The tournament enlisted participation of 16 cricket teams from Senior Secondary Schools of New Delhi ,Noida , Ghaziabad Modinagar, Meerut and Muzaffarnagar.</p>
    </div>
</div>
</div>
<div class="col-md-3 popular-grid">
<img src="../../assets/images/a4.jpg" class="img-responsive" alt=""/>
<div class="popular-text">
    <h5><a href="#" data-toggle="modal" data-target="#myModal5">Good Results</a></h5>
    <div class="detail-bottom">
        <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Modipurram</li>
        </ul>
<p>To become an exemplary centre of learning where knowledge seekers are facilitated to transform themselves into individuals who can make a difference to the society through their intellect, knowledge and innovation.</p>
    </div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
<!-- //Events --> 
<!--testimonials-->
<div id="testimonials" class="testimonials">
<div class="container">
<h3 class="heading-agileinfo">Our Parents Says<span>Oxford Has The Best Balance Of Fantastic Research Facilities.</span></h3>
<div class="flex-slider">
<ul id="flexiselDemo1">			
<li>
<div class="laptop">
<div class="col-md-8 team-right">
    <p>The Oxford MBA programme is for those who have a desire to augment their technical knowledge with the underpinning of a formal business education..</p>
    <div class="name-w3ls">
        <h5>Sakshi</h5>
        <span>Gorakhpur</span>
    </div>
</div>
<div class="col-md-4 team-left">
    <img class="img-responsive" src="../../assets/images/test1.jpg" alt=" " />
</div>
<div class="clearfix"></div>
</div>
</li>
<li>
<div class="laptop">
<div class="col-md-8 team-right">
    <p>The Oxford MBA programme is for those who have a desire to augment their technical knowledge with the underpinning of a formal business education..</p>
    <div class="name-w3ls">
        <h5>Sumit</h5>
        <span>Ghazipur</span>
    </div>
</div>
<div class="col-md-4 team-left">
    <img class="img-responsive" src="../../assets/images/test2.jpg" alt=" " />
</div>
<div class="clearfix"></div>
</div>
</li>
</ul>

</div>

</div>
</div>
